{% extends 'recipes/base.html' %} {% block title %}Главная - Рецепты{% endblock %} {% block content %}
<h1 class="mb-4">Случайные рецепты</h1>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}"> {% endif %}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description|truncatechars:100 }}</p>
                <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-primary mt-auto">Подробнее</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Рецептов пока нет.</p>
    {% endfor %}
</div>
{% endblock %}